#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #fff;
  /* white background */
}

/* Scrollbar itself */
::-webkit-scrollbar {
  width: 8px;
  /* width for vertical scrollbar */
  height: 8px;
  /* height for horizontal scrollbar */
  background: #fff;
  /* white background */
}

/* Scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* light gray thumb */
  border-radius: 4px;
  /* rounded corners */
  border: 2px solid #fff;
  /* gives some padding around thumb */
}